.main {
    margin-left: 110px;
    background: #76a9da;
    background: linear-gradient(98deg,#76a9da 0%, #e9abe4 80%);
    background: -webkit-linear-gradient(98deg,#76a9da 0%, #e9abe4 80%);
    background: -moz-linear-gradient(98deg,#76a9da 0%, #e9abe4 80%);
}

@media  screen and (max-width:1024px) {
     .main{
        margin-left: 0;
     }
}